<footer class="footer-container">
  <div class="footer-logo-items flex">
        <img class="footer-logo" src="/src/images/Logo.svg" alt="Logo">
        <div class="footer-logo-text">
            <p class="footer-logo-coding">Coding</p> 
            <p class="footer-logo-magic">Magic</p>
        </div>
    </div>

  <div class="footer-info">
    <ul class="footer-info-list">
      <li><p class="footer-info-text">Тел: +38 (123) 456 79 80</p></li>
      <li><p class="footer-info-text">Email: codingmagic@gmail.com</p></li>
      <li><p class="footer-info-text">Facebook: CodingMagic</p></li>
      <li><p class="footer-info-text">Twitter: CodingMagic</p></li>
      <li><p class="footer-info-text">Instagram: CodingMagic</p></li>
    </ul>
  </div>

  <div class="footer-subscribe">
    <input class="footer-input-email" type="email" id="email" placeholder="Ваша ел. адреса...">
    <button id="subscribeBtn">Підписатись</button>
    <p class="footer-subscribe-text">*При натисканні, ви погоджуєтесь з умовами обробки ваших персональних даних</p>
  </div>

  
</footer>