<h1 class="footer-title">Перевір в який рік ти народився</h1>

<input type="number" id="inputEl" placeholder="Введіть рік народження">
<button id="btn">&#128269;</button>

<div id="output"></div> 

<h1 class= "footer-title">Калькулятор часу</h1>
<div>
<input type="number" id="milliseconds" placeholder="Введіть мілісекунди">
<button onclick="convertTime()">Перевести</button>
</div>
<div class="result" id="result"></div>

  <div class="footer-logo">
      <!-- Тут має бути логотип -->
      <img src="/src/images/Logo.svg" alt="Логотип CodingMagic" class="footer-img">
      <!-- <span><strong>Coding</strong><br>Magic</span> -->
    </div><div class="footer-info">
  <p>Тел: +38 (123) 456 79 80</p>
  <p>Email: codingmagic@gmail.com</p>
  <p>Facebook: CodingMagic</p>
  <p>Twitter: CodingMagic</p>
  <p>Instagram: CodingMagic</p>
</div>

<div class="footer-subscribe">
  <!-- <input class="footer-subcribe-input" id="email" placeholder="Ваша ел. адреса..."> -->
   <button class="footer-subcribe-input">
    <p class="footer-button-text">Ваша ел. адреса...</p>
   </button>
  <button id="subscribeBtn">Підписатись</button>
  <p class="footer-subcribe-text">**Підписавшись, Ви зможете ортимувати інформаццію про новинки на сайті</p>
</div>

   <!-- Модальне вікно --> 
     <div class="modal" id="subscriptionModal">
    <div class="modal-content">
      <span class="close" id="closeModal">&times;</span>
      <h2>Дякую за підписку!</h2>
      <div class="modal-icons">
        <img src="/src/images/sword.png" alt="Іконка меча">
        <img src="/src/images/gamepad.png" alt="Іконка гри">
        <img src="/src/images/puzzle.png" alt="Іконка пазлу">
        <img src="/src/images/tic-tac-toe.png" alt="Іконка хрестиків-нуликів">
      </div>
    </div>
  </div> 
  