<div class="backdrop-is-hidden" data-modal>
    <div class="greeting-modal">
        <div class="header-modal-background">
            <span id="greeting"></span>
            <button class="header-modal-btn" data-modal-close><img src="/src/images/close-crest.svg"
                    alt="close"></button>
        </div>
        <div class="modal-content">
            <div class="modal-main-text">
                <h3 class="modal-text">Привіт!</h3>
                <p class="modal-text">Ви потрапили на сайт інтерактивних ігор та завдань</p>
                <p class="modal-text">Надіємось, що вам сподобається і ви отримаєте позитивні емоції</p>
                <p class="modal-text">Бажаємо Вам гарно провести час!</p>
            </div>
            <div class="modal-input-items">
                <p class="greeting-modal-input-text">Введіть своє ім'я:</p>
                <input class="input-your-name" type="text" id="nameInput" placeholder="Ваше ім'я...">
                <button class="greeting-modal-input-save">Зберегти</button>
            </div>
            <img class="modal-image-sword" src="/src/images/sword.png" alt="#">
            <img class="modal-image-gamepad" src="/src/images/game-development.png" alt="#">
            <img class="modal-image-puzzle" src="/src/images/puzzle.png" alt="#">
            <img class="modal-image-tictactoe" src="/src/images/tic-tac-toe.png" alt="#">
        </div>
    </div>
</div>