<div class="header-items flex">
    <img class="header-logo" src="/src/images/Logo.svg" alt="Logo">
    <menu class="header-menu">
        <nav class="header-menu-navigation">
            <ul class="header-menu-navigation-list flex">
                <li class="header-menu-navigation-list-item">
                    <label for="option-select">Інтерактив:</label>
                    <select name="options" id="option-select">
                        <option value="numerical">Числовий</option>
                        <option value="game">Ігровий</option>
                        <option value="introductory">Ознайомчий</option>
                    </select>
                </li>
                <li class="header-menu-navigation-list-item"><a href="#">Наша команда</a></li>
                <li class="header-menu-navigation-list-item"><a href="#">Контакти</a></li>
            </ul>
        </nav>
    </menu>
    <div class="header-extras">
        <button class="website-style-change"></button>
    </div>
</div>