<section class="slider" id="slider">
    <div class="container">
        <h2 class="slider-title">Наша команда</h2>
        <div class="swiper mySwiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide"> 
                    <img src="/src/images/first-cat.png" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="/src/images/second-cat.png" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="/src/images/third-cat.png" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="/src/images/fourth-cat.png" alt="">
                </div>
            </div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
        <h3 class="blog-text">Ім’я студента</h3>
        <h3>Інформація про роботу, яку він/вона виконав/ла</h3>
    </div>
</section>