<div class="modal" id="subscriptionModal">
    <div class="footer-modal-content">
      <span class="footer-modal-close" id="closeModal"><img src="/src/images/close-crest.svg" alt=""></span>
      <p class="footer-modal-text">Дякую за підписку!</p>
      <div class="modal-icons">
        <img class="footer-modal-image-sword" src="/src/images/sword.png" alt="Іконка меча">
        <img class="footer-modal-image-gamepad" src="/src/images/game-development.png" alt="Іконка гри">
        <img class="footer-modal-image-puzzle" src="/src/images/puzzle.png" alt="Іконка пазлу">
        <img class="footer-modal-image-tic-tac-toe" src="/src/images/tic-tac-toe.png" alt="Іконка хрестиків-нуликів">
      </div>
    </div>
  </div>