.header-items {
    margin-left: 175px;
}

.header-logo {
    padding-top: 21px;
}

.header-menu-navigation-list {
    gap: 50px;
}

.header-menu {
    padding-top: 32px;
}

.header-menu-navigation {
    font-family: 'Montserrat Alternates';
}

