.main {
    display: flex;
    justify-content: center;
    width: 1090px;
    margin-top: 36px;
    margin-bottom: 36px;
    margin-left: 277px;
    margin-right: 277px;
}

.js-games {
    text-align: center;

}

.main_lists {
    padding-bottom: 18px;
    padding-top: 18px;
}

.RPS {
    padding-bottom: 10px;
}

.rock {
    width: 60px;
    height: 60px;
    border-radius: 20px;
    background-color: black;
    background-image: url('../images/stone.svg');
    background-repeat: no-repeat;
    background-position: center;
}

.paper {
    width: 60px;
    height: 60px;
    border-radius: 20px;
    background-color: black;
    background-image: url('../images/paper.svg');
    background-repeat: no-repeat;
    background-position: center;
}

.scissors {
    width: 60px;
    height: 60px;
    border-radius: 20px;
    background-color: black;
    background-image: url('../images/scissors.svg');
    background-repeat: no-repeat;
    background-position: center;
}
.h1-main {
    margin-left: 550px;
    width: 386px;
    height: 29px;
    font-family: "Montserrat Alternates";
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;

}
special{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5000px;
    
}

.flexcenter{
    display: flex;
    align-items: center;
    justify-content: center;
}


.line{
    background-color: #000000;
    width: 536px;
    height: 2.5px;

}

.main-main{
    height: 1350px;
}
.dark-theme{
    background-color: #262e2e ;
    color: #ffffff;
}
